<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Portfolio Homepage</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper active-nav-link">
          <a href="index.html">Child Labour Risk Assessment</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="home.html">Visualisations</a>
        </div>


        <div class="nav-link-wrapper">
          <a href="about.html">About</a>
        </div>
      </div>

      <div class="right-side">
        <div class="brand">
          About this project
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="two-column-wrapper">
        <div class="profile-image-wrapper">
          <img src="images/profile.png">
        </div>

        <div class="profile-content-wrapper">
          <h1>Hi, thanks for visiting our site.</h1>
          <p>This project aims to use machine learning to help identify households where children are most at risk of leaving education and participating in the labour market. In many developing countries, this is a significant issue which prevents educational attainment for children, generally leading to lower lifetime incomes, and impedes the accumulation of human capital- undermining further economic development in these countries.</p>

          <p>This project utilizes a datasource collected by the SMERU Research Institute, which conducted a study on the effects of Uncoditional Cash Transfers (UCT's) on child labour within households between 2005 and 2006 in Indonesia. The original purpose of the data collection was to facilitate a rigorous policy impact evaluation, comparing households that received the UCT (the treated) to those that did not (the untreated group). Using various techniques, researchers have sought to identify the Average Treatment Effect (measured in differences between treated and untreated groups) of and attribute causality to government policy interventions.</p>

          <p> Rather than perform a policy impact evalutation, in this project, we propose to use machine learning techniques to try and classify households most at risk of child labour participation. We will do this by confining our analysis to the untreated group of households. Using the initial household data collected via survey in 2005, we will train our model to predict and classify households most likely to have child labour, which was recorded in a follow-up survey in 2006. The benefit of this is that it allows for more effective targeting of groups for government policy intervention, delivering a greater social and economic benefit for the use of public funds.</p>

          <h2> Technologies used</h2>

          <p> Python/Pandas</p>

          <p> MatplotLib</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
